@{
    ViewData["Title"] = "Ganaste";
}



<img src =/Imagenes/Ganaste.jpg alt ="Ganaron">
<button onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-secondary">
    Volver al Index
</button>
