@{
    ViewData["Title"] = "Perdiste";
}

<img src =/Imagenes/Perdiste.jpg alt ="Perdieron">
<button onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-secondary">
    Volver al Index
</button>